CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOY_KEY=
# Convex 환경 변수로 설정합니다. 각 교사 코드는 8자 이상을 권장합니다.
TEACHER_ACCOUNTS=[{"name":"교사1","code":"ChangeMe123!"},{"name":"교사2","code":"ChangeMe456!"},{"name":"교사3","code":"ChangeMe789!"},{"name":"교사4","code":"ChangeMe012!"}]
